body {
    padding-bottom: 40px;
}

.terminal {
    border: #000 solid 5px;
    font-family: "Monaco", "DejaVu Sans Mono", "Liberation Mono", monospace;
    font-size: 11px;
    color: #f0f0f0;
    background: #000;
    width: 600px;
}

.reverse-video {
    color: #000;
    background: #f0f0f0;
}

.container {
    margin-left: 0;
}
